/* Miscellaneous */
html {
    height: 100%;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    padding-top: 50px;
    overflow-y: visible;
}

.wrapper {
    padding: 5%;
}

.img-container {
    border: 2px solid #eee;
    border-bottom: none;
}

.info-left {
    width: 47%;
    display: inline-block !important;
}

.info-right {
    width: 47%;
    display: inline-block !important;
    text-align: end;
}

.pull-right {
    float: left !important;
}

span.one-line-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Navigation */
.navbar-inverse {
    background-color: #455A64;
    border-color: #455A64;
}

.navbar-inverse .navbar-brand {
    color: #ddd;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ddd;
}


/* Details page*/
.details_add_to_cart {
    width: 100%;
    height: 30%;
    border: 2px solid;
}

/* Search */
.search-list-item {
    margin-left: 20px;
}

.search-form .form-group {
    display: flex;
    margin: 8px;
    float: right !important;
    height: 32px;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.form-control {
    position: absolute;
    padding-left: 20px;
    padding-top: 6px;
    background: transparent;
    transition: all 0.5s;
}

.form-control:focus {
    background: #fff;
}

/* Cart */
.cart_wrapper {
    position: absolute;
    display: none;
    z-index: 10000;
    background: #9E9E9E;
    top: 0;
    right: 0;
    margin: 50px 0 0;
    color: #fff;
}

.quantity_input {
    width: 50px;
    color: black;
}

/* TABLET */
@media (min-width: 768px) {
    .pull-right {
        float: right !important;
    }

    /* Details page*/
    .details_add_to_cart {
        width: 50%;
        height: 30%;
        float: right;
        border: 2px solid;
    }

    /* Search */
    .search-form .form-group {
        width: 28vw;
    }

    /* Cart */
    .cart_button:hover {
        background: #9E9E9E !important;
    }

    .cart_button:hover .cart_wrapper {
        position: fixed;
        display: block;
    }

    .table-hover > tbody > tr:hover {
        background-color: #9E9E9E;
    }
}

/* DESKTOP */
@media (min-width: 992px) {
    .pull-right {
        float: right !important;
    }

    /* Details page*/
    .details_add_to_cart {
        width: 66%;
        height: 30%;
        float: right;
        border: 2px solid;
    }

    /* Search */
    .search-form .form-group {
        width: 28vw;
    }

}
