/* Miscellaneous */
html {
    height: 100%;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    padding-top: 50px;
    overflow-y: visible;
}

footer {
    background-color: #455A64;
    color: #fff;
    padding: 5px;
    margin-top: 20px;
}

input:focus {
    outline: none;
    border: 1px solid;
}

.text-middle {
    vertical-align: middle !important;
}

.bg {
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    padding: 5%;
}

.img-container {
    border: 2px solid #eee;
    border-bottom: none;
}

.info-left {
    width: 47%;
    display: inline-block !important;
}

.info-right {
    width: 47%;
    display: inline-block !important;
    text-align: end;
}

.pull-right {
    float: left !important;
}

.align-left {
    text-align: left;
}

span.one-line-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-modern {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
    transition: ease border 0.35s;
}

.top-padding-50px {
    padding-top: 50px;
}

.top_margin_5px {
    margin-top: 5px;
}

.btn-modern {
    background-color: #607d8b;
    border: none;
    color: #fff;
    height: 40px;
    transition: ease all 0.35s;
}

.btn-modern-medium {
    width: 150px;
}

.btn-modern:hover {
    background-color: #263238;
}

.btn-modern-link {
    background-color: #607d8b;
    border: none;
    color: #fff;
    height: 40px;
    padding: 10px;
    text-align: center;
    transition: ease all 0.35s;
}

.btn-modern-link:hover {
    background-color: #263238;
    color: #fff;
    text-decoration: none;
}

/* Navigation */
.navbar-inverse {
    background-color: #455A64;
    border-color: #455A64;
}

.navbar-inverse .navbar-brand {
    color: #ddd;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ddd;
}

/* Details page*/
.details-wrapper {
    padding: 50px;
}

.details_add_to_cart {
    width: 100%;
    height: 300px;
    padding: 20px;
    background-color: #455A64;
    color: #fff;
}

.details_article {
    width: 100%;
    min-height: 300px;
    padding: 20px;
    background-color: #455A64;
    color: #fff;
}

.img-details-container {
    border: 2px solid #eee;
    display: inline-block;
}

.article-info {
    height: 200px;
}

.article-info > h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#rating > label {
    margin-top: 3px;
}

/* Search */
.search-list-item {
    margin-left: 20px;
}

.search-form .form-group {
    display: flex;
    margin: 8px;
    float: right !important;
    height: 32px;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.form-control {
    position: absolute;
    padding-left: 20px;
    padding-top: 6px;
    background: transparent;
    transition: all 0.5s;
}

.form-control:focus {
    background: #fff;
}

/* Cart */
#cart-nav {
    /* nav bar cart text color */
    color: #666;
}

.cart_wrapper {
    position: absolute;
    display: none;
    z-index: 10000;
    background: #fff;
    top: 0;
    right: 0;
    width: 550px;
    margin: 51px 0 0;
    color: #666;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.quantity_input {
    width: 50px;
    color: black;
}

/* Login */
#login_wrapper {
    text-align: center;
}

.login_form {
    display: inline-block;
    padding: 0 60px 60px;
    border: 2px solid #eee;
    color: #666;
}

.top {
    vertical-align: top;
    margin: 0 0 20px;
}

.wrong-credentials {
    color: red;
    position: absolute;
    margin-left: -12px;
    margin-top: 15px;
}


/* TABLET */
@media (min-width: 768px) {
    .pull-right {
        float: right !important;
    }

    .top {
        vertical-align: top;
        margin: 0 50px 0 0;
    }

    /* Admin */
    .admin_login {
        margin: 0;
    }

    /* Details page */
    .details_add_to_cart {
        width: 50%;
        height: 300px;
        float: right;
        border: 2px solid;
    }

    .img-details-container {
        width: 300px;
        border: 2px solid #eee;
        display: inline-block;
    }

    /* Search */
    .search-form .form-group {
        width: 28vw;
    }

    /* Cart */
    .cart_button:hover {
        background: #080808 !important;
    }

    .cart_button:hover .cart_wrapper {
        position: fixed;
        display: block;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0px;
    }

    .td-product {
        width: 220px;
        max-width: 220px;
    }

    .table-hover > tfoot > tr {
        height: 50px;
    }
}

/* DESKTOP */
@media (min-width: 992px) {
    .pull-right {
        float: right !important;
    }

    .top {
        vertical-align: top;
        margin: 0 150px 0 0;
    }

    /* Admin */
    .admin_login {
        margin: 0;
    }

    /* Details page*/
    .details_add_to_cart {
        position: relative;
        width: 64%;
    }

    /* Search */
    .search-form .form-group {
        width: 28vw;
    }

}


/* Admin */
.admin_btn {
    background-color: #f9a139;
}

.navbar_admin {
    background-color: #f9a139;
    border-color: #f9a139;
}

.navbar_admin .navbar-nav > li > a {
    color: #fff;
}

.navbar_admin .navbar-header > a {
    color: #fff;
}

/* Rate Widget */
.rate_widget {
    overflow:   visible;
    z-index: 3;
    padding-left: 20px;
    padding-top:  10px;
    position:   relative;
    width:      250px;
    height:     32px;
}

.ratings_stars {
    background: url('../images/rating/empty_star.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    3px;
    width:      32px;
}
.ratings_vote {
    background: url('../images/rating/full_star.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    3px;
    width:      32px;
}
.ratings_over {
    background: url('../images/rating/full_star.png') no-repeat;
}
